
<br>
<h1 style="color: white;text-align: center;"> Report Issue</h1>
<br>
<form [formGroup]="reportIssueFormGroup" (ngSubmit)="reportIssue(reportIssueFormGroup.value)">
    <mat-form-field class="example-full-width">
        <mat-label>Reporter</mat-label>
        <input matInput formControlName="reporter">
        <mat-error [hidden]="!reportIssueFormGroup.controls.reporter.touched || reportIssueFormGroup.controls.reporter.valid"  >
          Name is <strong>Required</strong>
        </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title">
        <mat-error [hidden]="!reportIssueFormGroup.controls.title.touched || reportIssueFormGroup.controls.title.valid"  >
          Title is <strong>Required</strong>
        </mat-error>
    </mat-form-field>
    <h3 style="color: white;">Description : </h3>
        <editor
          initialValue="<p>Initial content of the editor</p>"
          apiKey = "acxa6cwfwdery60peo08jy721sd3mi3h99h9s4mqnyumhz7i"
          [init]="{
            height: 200,
            menubar: false,
            plugins: [
              'advlist autolink lists link image charmap print',
              'preview anchor searchreplace visualblocks code',
              'fullscreen insertdatetime media table paste',
              'help wordcount'
            ],
            toolbar:
              'undo redo | formatselect | bold italic | \
              alignleft aligncenter alignright alignjustify | \
              bullist numlist outdent indent | help'
          }"
         formControlName="description">
        </editor>
        <br>
        <mat-card color="primary" [hidden]="!reportIssueFormGroup.controls.description.touched || reportIssueFormGroup.controls.description.valid">Description is Needed</mat-card>
        <br>
    <mat-form-field class="example-full-width">
        <mat-label>Status</mat-label>
        <input matInput formControlName="status">
        <mat-error [hidden]="!reportIssueFormGroup.controls.status.touched || reportIssueFormGroup.controls.status.valid"  >
          Status is <strong>Required</strong>
        </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Select Assignee</mat-label>
        <mat-select formControlName="assignedTo">
            <mat-option selected value> -- select an option -- </mat-option>
            <mat-option *ngFor="let user of users" [value]="user.userId">{{user.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    
    <label for="upload" style="color: white;">Upload Attachments</label><br>
    <input style="color: white;" type="file" (change)="fileChangeEvent($event)" name="upload" multiple/> 
    <br><br>
    
    <button mat-raised-button color="primary" class="example-full-width" [disabled]="reportIssueFormGroup.invalid || reporting" type="submit">Report</button>
    <mat-spinner diameter="30" *ngIf="reporting"></mat-spinner>

    
</form>